.shared-button {
    --button-small-height: 30px;
    --button-medium-height: 36px;
    --button-large-height: 48px;

    --button-small-font-size: var(--font-size-tiny);
    --button-medium-font-size: var(--font-size-xs);
    --button-large-font-size: var(--font-size-sm);

    --button-small-padding: 0 12px;
    --button-medium-padding: 0 16px;
    --button-large-padding: 0 24px;

    /* button colors */
    --button-primary-background-color: var(--color-primary);
    --button-primary-text-color: var(--color-light);

    --button-secondary-background-color: var(--color-secondary);
    --button-secondary-text-color: var(--color-dark);

    --button-success-background-color: var(--color-success);
    --button-success-text-color: var(--color-light);

    --button-warning-background-color: var(--color-warning);
    --button-warning-text-color: var(--color-light);

    --button-danger-background-color: var(--color-danger);
    --button-danger-text-color: var(--color-light);

    --button-info-background-color: var(--color-info);
    --button-info-text-color: var(--color-dark);

    --button-dark-background-color: var(--color-dark);
    --button-dark-text-color: var(--color-light);

    --button-light-background-color: var(--color-light);
    --button-light-text-color: var(--color-dark);

    /* rounded sizes */
    --rounded-small: 4px;
    --rounded-medium: 8px;
    --rounded-large: 16px;

    --rounded-small-tr-bl: 0 4px 0 4px;
    --rounded-small-tl-br: 4px 0 4px 0;

    --rounded-medium-tr-bl: 0 8px 0 8px;
    --rounded-medium-tl-br: 8px 0 8px 0;

    --rounded-large-tr-bl: 0 16px 0 16px;
    --rounded-large-tl-br: 16px 0 16px 0;

    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    border: 0;
    font-weight: 400;
    font-family: var(--font-family-Inter);
    transition: 300ms;
}
.shared-button--primary {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-text-color);
}

.shared-button--secondary {
    background-color: var(--button-secondary-background-color);
    color: var(--button-secondary-text-color);
}

.shared-button--success {
    background-color: var(--button-success-background-color);
    color: var(--button-success-text-color);
}

.shared-button--warning {
    background-color: var(--button-warning-background-color);
    color: var(--button-warning-text-color);
}

.shared-button--danger {
    background-color: var(--button-danger-background-color);
    color: var(--button-danger-text-color);
}

.shared-button--info {
    background-color: var(--button-info-background-color);
    color: var(--button-info-text-color);
}

.shared-button--light {
    background-color: var(--button-light-background-color);
    color: var(--button-light-text-color);
    border: 1px solid var(--button-light-text-color);
}

.shared-button--dark {
    background-color: var(--button-dark-background-color);
    color: var(--button-dark-text-color);
}

.shared-button--small {
    padding: var(--button-small-padding);
    font-size: var(--button-small-font-size);
    height: var(--button-small-height);
}
.shared-button--medium {
    padding: var(--button-large-padding);
    font-size: var(--button-medium-font-size);
    height: var(--button-medium-height);
}
.shared-button--large {
    padding: var(--button-large-padding);
    font-size: var(--button-large-font-size);
    height: var(--button-large-height);
}

.rounded--none {
    border-radius: 0;
}

.rounded--small {
    border-radius: var(--rounded-small);
}

.rounded--medium {
    border-radius: var(--rounded-medium);
}

.rounded--large {
    border-radius: var(--rounded-large);
}

.rounded--top-right-bottom-left {
    --rounded-small: var(--rounded-small-tr-bl);
    --rounded-medium: var(--rounded-medium-tr-bl);
    --rounded-large: var(--rounded-large-tr-bl);
}

.rounded--top-left-bottom-right {
    --rounded-small: var(--rounded-small-tl-br);
    --rounded-medium: var(--rounded-medium-tl-br);
    --rounded-large: var(--rounded-large-tl-br);
}

.shared-button--small .material-icons-outlined {
    font-size: 16px;
}

.shared-button--medium .material-icons-outlined {
    font-size: 20px;
}

.shared-button--large .material-icons-outlined {
    font-size: 24px;
}

.shared-button--small.icon-left {
    padding-left: 6px;
}
.shared-button--medium.icon-left {
    padding-left: 8px;
}
.shared-button--large.icon-left {
    padding-left: 12px;
}

.shared-button--small.icon-right {
    padding-right: 6px;
}
.shared-button--medium.icon-right {
    padding-right: 8px;
}
.shared-button--large.icon-right {
    padding-right: 12px;
}

.shared-button:hover {
    --button-primary-background-color: var(--color-blue-7);
    --button-secondary-background-color: var(--color-yellow-2);
    --button-success-background-color: var(--color-green-7);
    --button-warning-background-color: var(--color-orange-7);
    --button-danger-background-color: var(--color-red-7);
    --button-info-background-color: var(--color-lightblue-7);
    --button-dark-background-color: var(--color-grey-8);
    --button-light-background-color: var(--color-neutral-7);
}
