.shared-button {
    --button-small-height: 30px;
    --button-medium-height: 36px;
    --button-large-height: 48px;

    --button-small-font-size: var(--font-size-tiny);
    --button-medium-font-size: var(--font-size-xs);
    --button-large-font-size: var(--font-size-sm);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    font-weight: 700;
    line-height: 1;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 300ms;
    &:hover {
        transform: scale(1.1);
    }
}
.shared-button--primary {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.shared-button--secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.shared-button--success {
    background-color: var(--color-success);
    color: var(--color-light);
}

.shared-button--warning {
    background-color: var(--color-warning);
    color: var(--color-dark);
}

.shared-button--danger {
    background-color: var(--color-danger);
    color: var(--color-light);
}

.shared-button--info {
    background-color: var(--color-info);
    color: var(--color-dark);
}

.shared-button--light {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}

.shared-button--dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.shared-button--small {
    padding: 0 12px;
    font-size: var(--button-small-font-size);
    height: var(--button-small-height);
}
.shared-button--medium {
    padding: 0 20px;
    font-size: var(--button-medium-font-size);
    height: var(--button-medium-height);
}
.shared-button--large {
    padding: 0 24px;
    font-size: var(--button-large-font-size);
    height: var(--button-large-height);
}

.rounded--none {
    border-radius: 0;
}

.rounded--small {
    border-radius: 4px;
}

.rounded--medium {
    border-radius: 8px;
}

.rounded--large {
    border-radius: 16px;
}
