:root {
    /* fonts */
    --font-family-Inter: "Inter";
    --font-family-ElMessiri: "El Messiri";
    /* font sizes */
    --text-size-tiny: 12px;
    --text-size-xs: 14px;
    --text-size-sm: 16px;
    --text-size-md: 18px;
    --text-size-lg: 20px;
    --text-size-xl: 24px;
    --text-size-2xl: 28px;

    --heading-size-tiny: 32px;
    --heading-size-xs: 36px;
    --heading-size-sm: 40px;
    --heading-size-md: 52px;
    --heading-size-lg: 60px;
    --heading-size-xl: 72px;
    --heading-size-2xl: 84px;

    /* line heights */
    --text-height-1: 1;
    --text-height-15: 1.5;

    --text-height-tiny: 16px;
    --text-height-xs: 20px;
    --text-height-sm: 20px;
    --text-height-md: 24px;
    --text-height-lg: 24px;
    --text-height-xl: 32px;
    --text-height-2xl: 36px;

    --heading-height-tiny: 40px;
    --heading-height-xs: 44px;
    --heading-height-sm: 48px;
    --heading-height-md: 64px;
    --heading-height-lg: 72px;
    --heading-height-xl: 88px;
    --heading-height-2xl: 100px;
}

@media screen and (max-width: 768px) {
    :root {
        /* font sizes */
        --text-size-tiny: 10px;
        --text-size-xs: 12px;
        --text-size-sm: 14px;
        --text-size-md: 16px;
        --text-size-lg: 18px;
        --text-size-xl: 22px;
        --text-size-2xl: 26px;

        --heading-size-tiny: 30px;
        --heading-size-xs: 34px;
        --heading-size-sm: 38px;
        --heading-size-md: 50px;
        --heading-size-lg: 58px;
        --heading-size-xl: 70px;
        --heading-size-2xl: 82px;

        /* line heights */
        --text-height-1: 1; /* This is unitless, kept unchanged */
        --text-height-15: 1.5; /* This is unitless, kept unchanged */

        --text-height-tiny: 14px;
        --text-height-xs: 18px;
        --text-height-sm: 18px;
        --text-height-md: 22px;
        --text-height-lg: 22px;
        --text-height-xl: 30px;
        --text-height-2xl: 34px;

        --heading-height-tiny: 38px;
        --heading-height-xs: 42px;
        --heading-height-sm: 46px;
        --heading-height-md: 62px;
        --heading-height-lg: 70px;
        --heading-height-xl: 86px;
        --heading-height-2xl: 98px;
    }
}

body {
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* body texts */
.text-tiny {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-tiny);
    line-height: var(--text-height-tiny);
}

.text-xs {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-xs);
    line-height: var(--text-height-xs);
}

.text-sm {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-sm);
    line-height: var(--text-height-sm);
}

.text-md {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-md);
    line-height: var(--text-height-md);
}

.text-lg {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-lg);
    line-height: var(--text-height-lg);
}

.text-xl {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-xl);
    line-height: var(--text-height-xl);
}

.text-2xl {
    font-family: var(--font-family-Inter);
    font-size: var(--text-size-2xl);
    line-height: var(--text-height-2xl);
}

/* headings */
.heading-tiny {
    font-family: var(--font-family-Inter);
    font-size: var(--heading-size-tiny);
    line-height: var(--heading-height-tiny);
}

.heading-xs {
    font-family: var(--font-family-Inter);
    font-size: var(--heading-size-xs);
    line-height: var(--heading-height-xs);
}

.heading-sm {
    font-family: var(--font-family-ElMessiri);
    font-size: var(--heading-size-sm);
    line-height: var(--heading-height-sm);
}

.heading-md {
    font-family: var(--font-family-Inter);
    font-size: var(--heading-size-md);
    line-height: var(--heading-height-md);
}

.heading-lg {
    font-family: var(--font-family-ElMessiri);
    font-size: var(--heading-size-lg);
    line-height: var(--heading-height-lg);
}

.heading-xl {
    font-family: var(--font-family-ElMessiri);
    font-size: var(--heading-size-xl);
    line-height: var(--heading-height-xl);
}

.heading-2xl {
    font-family: var(--font-family-ElMessiri);
    font-size: var(--heading-size-2xl);
    line-height: var(--heading-height-2xl);
    letter-spacing: 0.5%;
}

.line-height-1 {
    line-height: var(--text-height-1);
}

.line-height-15 {
    line-height: var(--text-height-15) !important;
}

.el-messiri {
    font-family: var(--font-family-ElMessiri) !important;
}

.inter {
    font-family: var(--font-family-Inter) !important;
}
