.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-6);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container a {
    transition: 200ms;
    text-transform: capitalize;
    color: var(--color-blue-8);
}
.nav-container a:hover {
    transform: scale(1.05);
}

.top-element {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
