/* You can add global styles to this file, and also import other style files */

body {
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "./assets/styles/modules/typography.css";
